In [97]:
import pandas as pd

### Marginal and Average Tax Rates and Elasticities for the US 1960-2019

In [109]:
ally = pd.read_csv('ally.csv')
ally.head()

,year,state_id,fed_marg,fed_avg,fed_elas,st_marg,st_avg,st_elas,c_marg,c_avg,c_elas,state_abv
0,1960,52,0.2364,0.1359,1.7709,0.0,0.0,0.0,0.2364,0.1359,0.0,"""US"""
1,1961,52,0.2395,0.1382,1.7636,0.0,0.0,0.0,0.2395,0.1382,0.0,"""US"""
2,1962,52,0.2414,0.1388,1.7694,0.0,0.0,0.0,0.2414,0.1388,0.0,"""US"""
3,1963,52,0.2458,0.1422,1.7592,0.0,0.0,0.0,0.2458,0.1422,0.0,"""US"""
4,1964,52,0.2254,0.1288,1.7807,0.0,0.0,0.0,0.2254,0.1288,0.0,"""US"""

In [110]:
ally.columns

Index([' year', 'state_id', 'fed_marg', 'fed_avg', 'fed_elas', 'st_marg',
       '       st_avg', 'st_elas', 'c_marg', 'c_avg', 'c_elas', 'state_abv'],
      dtype='object')

In [111]:
ally = ally.set_axis(['year', 'state_id', 'fed_marg', 'fed_avg', 'fed_elas', 'st_marg',
       'st_avg', 'st_elas', 'c_marg', 'c_avg', 'c_elas', 'state_abv'], axis='columns')

In [112]:
ally['state_abv']=ally['state_abv'].str.lower().str[2:4]
ally.head()

,year,state_id,fed_marg,fed_avg,fed_elas,st_marg,st_avg,st_elas,c_marg,c_avg,c_elas,state_abv
0,1960,52,0.2364,0.1359,1.7709,0.0,0.0,0.0,0.2364,0.1359,0.0,us
1,1961,52,0.2395,0.1382,1.7636,0.0,0.0,0.0,0.2395,0.1382,0.0,us
2,1962,52,0.2414,0.1388,1.7694,0.0,0.0,0.0,0.2414,0.1388,0.0,us
3,1963,52,0.2458,0.1422,1.7592,0.0,0.0,0.0,0.2458,0.1422,0.0,us
4,1964,52,0.2254,0.1288,1.7807,0.0,0.0,0.0,0.2254,0.1288,0.0,us

### State taxes for representative taxpayers through time

In [113]:
real_tax = pd.read_csv('real.csv')
real_tax.head()

,state,year,income,taxsngl,taxjnt,taxfam,tax65,mtr_wage,mtr_int,mtr_amt,mtr_lcg,mtr_gift,mtr_fed,mtr_ptx,mtr_pt65,abrev
0,1,1977,1,94.37,12.17,0.00,102.84,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,al
1,1,1978,1,103.29,20.41,0.00,111.43,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,al
2,1,1979,1,116.03,29.41,9.04,125.56,1.5,1.5,0.60,0.0,-1.5,0.0,0.0,0.0,al
3,1,1980,1,126.30,45.67,19.72,135.41,1.5,1.5,0.60,0.0,-1.5,0.0,0.0,0.0,al
4,1,1981,1,136.09,65.36,31.20,145.90,3.0,3.0,1.20,0.0,-3.0,0.0,0.0,0.0,al

In [114]:
real_tax.columns

Index(['   state', '    year', '  income', ' taxsngl', '  taxjnt', '  taxfam',
       '   tax65', 'mtr_wage', ' mtr_int', 'mtr_amt ', ' mtr_lcg', 'mtr_gift',
       ' mtr_fed', ' mtr_ptx', 'mtr_pt65', 'abrev '],
      dtype='object')

In [115]:
real_tax = real_tax.set_axis(['state', 'year', 'income', 'taxsngl', 'taxjnt', 'taxfam',
       'tax65', 'mtr_wage', 'mtr_int', 'mtr_amt', 'mtr_lcg', 'mtr_gift',
       'mtr_fed', 'mtr_ptx', 'mtr_pt65', 'abrev'], axis='columns')
real_tax.head()

,state,year,income,taxsngl,taxjnt,taxfam,tax65,mtr_wage,mtr_int,mtr_amt,mtr_lcg,mtr_gift,mtr_fed,mtr_ptx,mtr_pt65,abrev
0,1,1977,1,94.37,12.17,0.00,102.84,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,al
1,1,1978,1,103.29,20.41,0.00,111.43,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,al
2,1,1979,1,116.03,29.41,9.04,125.56,1.5,1.5,0.60,0.0,-1.5,0.0,0.0,0.0,al
3,1,1980,1,126.30,45.67,19.72,135.41,1.5,1.5,0.60,0.0,-1.5,0.0,0.0,0.0,al
4,1,1981,1,136.09,65.36,31.20,145.90,3.0,3.0,1.20,0.0,-3.0,0.0,0.0,0.0,al

In [116]:
#df = pd.merge(real_tax, ally,  how='left', left_on=['abrev','year'], right_on = ['state_abv','year'])

### Annual Unemployment Rates by State

In [236]:
unemployment = pd.read_excel('emp-unemployment.xls', sheet_name='States')
unemployment.head()

,Average Annual Unemployment Rates by State (see previous tab for Iowa's counties),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,U.S. Bureau of Labor Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Local Area Unemployment Statistics and Current...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,April 2019 release,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,...,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0

In [237]:
unemployment = unemployment[4:57]
unemployment.iloc[0] = unemployment.iloc[0].astype('int').astype('string')
unemployment.columns = unemployment.iloc[0]
unemployment = unemployment[1:]
unemployment.head()
unemployment = unemployment.rename(columns= {'0': 'Fips', '1':'Area'})

In [238]:
abrev = pd.read_csv('states.csv')
abrev['Code']=abrev['Code'].str.lower()
us = {'Abbrev':'U.S.', 'Code': 'us', 'State': 'United States'}
abrev.append(us, ignore_index=True)

                   State  Abbrev Code
0                Alabama    Ala.   al
1                 Alaska  Alaska   ak
2                Arizona   Ariz.   az
3               Arkansas    Ark.   ar
4             California  Calif.   ca
5               Colorado   Colo.   co
6            Connecticut   Conn.   ct
7               Delaware    Del.   de
8   District of Columbia    D.C.   dc
9                Florida    Fla.   fl
10               Georgia     Ga.   ga
11                Hawaii  Hawaii   hi
12                 Idaho   Idaho   id
13              Illinois    Ill.   il
14               Indiana    Ind.   in
15                  Iowa    Iowa   ia
16                Kansas   Kans.   ks
17              Kentucky     Ky.   ky
18             Louisiana     La.   la
19                 Maine   Maine   me
20              Maryland     Md.   md
21         Massachusetts   Mass.   ma
22              Michigan   Mich.   mi
23             Minnesota   Minn.   mn
24           Mississippi   Miss.   ms
25              Missouri     Mo.   mo
26               Montana   Mont.   mt
27              Nebraska   Nebr.   ne
28                Nevada    Nev.   nv
29         New Hampshire    N.H.   nh
30            New Jersey    N.J.   nj
31            New Mexico    N.M.   nm
32              New York    N.Y.   ny
33        North Carolina    N.C.   nc
34          North Dakota    N.D.   nd
35                  Ohio    Ohio   oh
36              Oklahoma   Okla.   ok
37                Oregon    Ore.   or
38          Pennsylvania     Pa.   pa
39          Rhode Island    R.I.   ri
40        South Carolina    S.C.   sc
41          South Dakota    S.D.   sd
42             Tennessee   Tenn.   tn
43                 Texas    Tex.   tx
44                  Utah    Utah   ut
45               Vermont     Vt.   vt
46              Virginia     Va.   va
47            Washington   Wash.   wa
48         West Virginia   W.Va.   wv
49             Wisconsin    Wis.   wi
50               Wyoming    Wyo.   wy
51         United States    U.S.   us

In [239]:
abrev.head()

        State  Abbrev Code
0     Alabama    Ala.   al
1      Alaska  Alaska   ak
2     Arizona   Ariz.   az
3    Arkansas    Ark.   ar
4  California  Calif.   ca

In [240]:
unemployment = pd.merge(unemployment, abrev,  how='left', left_on=['Area'], right_on = ['State'])
unemployment.head()

,Fips,Area,1980,1981,1982,1983,1984,1985,1986,1987,...,2012,2013,2014,2015,2016,2017,2018,State,Abbrev,Code
0,00000,United States,7.1,7.6,9.7,9.6,7.5,7.2,7.0,6.2,...,8.1,7.4,6.2,5.3,4.9,4.4,3.9,NaN,NaN,NaN
1,01000,Alabama,8.9,10.6,14.1,13.8,11.0,9.2,9.7,8.1,...,8.0,7.2,6.8,6.1,5.8,4.4,3.9,Alabama,Ala.,al
2,02000,Alaska,9.6,9.4,9.9,9.9,9.8,9.7,10.9,10.3,...,7.1,7.0,6.9,6.5,6.9,7.0,6.6,Alaska,Alaska,ak
3,04000,Arizona,6.6,6.2,10.1,8.8,5.2,6.3,6.9,6.5,...,8.3,7.7,6.8,6.1,5.4,4.9,4.8,Arizona,Ariz.,az
4,05000,Arkansas,7.6,8.7,9.9,9.9,8.7,8.7,8.6,8.1,...,7.6,7.2,6.0,5.0,4.0,3.7,3.7,Arkansas,Ark.,ar

### Merge Example: unemployment & average tax rate