In [2]:
import pandas as pd

### Marginal and Average Tax Rates and Elasticities for the US 1960-2019

In [3]:
ally = pd.read_csv('ally.csv')
ally.head()

,year,state_id,fed_marg,fed_avg,fed_elas,st_marg,st_avg,st_elas,c_marg,c_avg,c_elas,state_abv
0,1960,52,0.2364,0.1359,1.7709,0.0,0.0,0.0,0.2364,0.1359,0.0,"""US"""
1,1961,52,0.2395,0.1382,1.7636,0.0,0.0,0.0,0.2395,0.1382,0.0,"""US"""
2,1962,52,0.2414,0.1388,1.7694,0.0,0.0,0.0,0.2414,0.1388,0.0,"""US"""
3,1963,52,0.2458,0.1422,1.7592,0.0,0.0,0.0,0.2458,0.1422,0.0,"""US"""
4,1964,52,0.2254,0.1288,1.7807,0.0,0.0,0.0,0.2254,0.1288,0.0,"""US"""

In [4]:
ally.columns

Index([' year', 'state_id', 'fed_marg', 'fed_avg', 'fed_elas', 'st_marg',
       '       st_avg', 'st_elas', 'c_marg', 'c_avg', 'c_elas', 'state_abv'],
      dtype='object')

In [5]:
ally = ally.set_axis(['year', 'state_id', 'fed_marg', 'fed_avg', 'fed_elas', 'st_marg',
       'st_avg', 'st_elas', 'c_marg', 'c_avg', 'c_elas', 'state_abv'], axis='columns')

In [6]:
ally['state_abv']=ally['state_abv'].str.lower().str[2:4]
ally.head()

,year,state_id,fed_marg,fed_avg,fed_elas,st_marg,st_avg,st_elas,c_marg,c_avg,c_elas,state_abv
0,1960,52,0.2364,0.1359,1.7709,0.0,0.0,0.0,0.2364,0.1359,0.0,us
1,1961,52,0.2395,0.1382,1.7636,0.0,0.0,0.0,0.2395,0.1382,0.0,us
2,1962,52,0.2414,0.1388,1.7694,0.0,0.0,0.0,0.2414,0.1388,0.0,us
3,1963,52,0.2458,0.1422,1.7592,0.0,0.0,0.0,0.2458,0.1422,0.0,us
4,1964,52,0.2254,0.1288,1.7807,0.0,0.0,0.0,0.2254,0.1288,0.0,us

In [7]:
US_ally = ally[ally['state_abv']=="us"]
US_ally.head()

,year,state_id,fed_marg,fed_avg,fed_elas,st_marg,st_avg,st_elas,c_marg,c_avg,c_elas,state_abv
0,1960,52,0.2364,0.1359,1.7709,0.0,0.0,0.0,0.2364,0.1359,0.0,us
1,1961,52,0.2395,0.1382,1.7636,0.0,0.0,0.0,0.2395,0.1382,0.0,us
2,1962,52,0.2414,0.1388,1.7694,0.0,0.0,0.0,0.2414,0.1388,0.0,us
3,1963,52,0.2458,0.1422,1.7592,0.0,0.0,0.0,0.2458,0.1422,0.0,us
4,1964,52,0.2254,0.1288,1.7807,0.0,0.0,0.0,0.2254,0.1288,0.0,us

In [13]:
US_ally.to_csv(r'/Users/langchen777/Desktop/US_ally.csv', index = False)

### State taxes for representative taxpayers through time

In [15]:
real_tax = pd.read_csv('real.csv')
real_tax.head()

,state,year,income,taxsngl,taxjnt,taxfam,tax65,mtr_wage,mtr_int,mtr_amt,mtr_lcg,mtr_gift,mtr_fed,mtr_ptx,mtr_pt65,abrev
0,1,1977,1,94.37,12.17,0.00,102.84,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,al
1,1,1978,1,103.29,20.41,0.00,111.43,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,al
2,1,1979,1,116.03,29.41,9.04,125.56,1.5,1.5,0.60,0.0,-1.5,0.0,0.0,0.0,al
3,1,1980,1,126.30,45.67,19.72,135.41,1.5,1.5,0.60,0.0,-1.5,0.0,0.0,0.0,al
4,1,1981,1,136.09,65.36,31.20,145.90,3.0,3.0,1.20,0.0,-3.0,0.0,0.0,0.0,al

In [16]:
real_tax.columns

Index(['   state', '    year', '  income', ' taxsngl', '  taxjnt', '  taxfam',
       '   tax65', 'mtr_wage', ' mtr_int', 'mtr_amt ', ' mtr_lcg', 'mtr_gift',
       ' mtr_fed', ' mtr_ptx', 'mtr_pt65', 'abrev '],
      dtype='object')

In [17]:
real_tax = real_tax.set_axis(['state', 'year', 'income', 'taxsngl', 'taxjnt', 'taxfam',
       'tax65', 'mtr_wage', 'mtr_int', 'mtr_amt', 'mtr_lcg', 'mtr_gift',
       'mtr_fed', 'mtr_ptx', 'mtr_pt65', 'abrev'], axis='columns')
real_tax.head()

,state,year,income,taxsngl,taxjnt,taxfam,tax65,mtr_wage,mtr_int,mtr_amt,mtr_lcg,mtr_gift,mtr_fed,mtr_ptx,mtr_pt65,abrev
0,1,1977,1,94.37,12.17,0.00,102.84,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,al
1,1,1978,1,103.29,20.41,0.00,111.43,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,al
2,1,1979,1,116.03,29.41,9.04,125.56,1.5,1.5,0.60,0.0,-1.5,0.0,0.0,0.0,al
3,1,1980,1,126.30,45.67,19.72,135.41,1.5,1.5,0.60,0.0,-1.5,0.0,0.0,0.0,al
4,1,1981,1,136.09,65.36,31.20,145.90,3.0,3.0,1.20,0.0,-3.0,0.0,0.0,0.0,al

In [18]:
df = pd.merge(real_tax, ally,  how='left', left_on=['abrev','year'], right_on = ['state_abv','year'])
df.head()

,state,year,income,taxsngl,taxjnt,taxfam,tax65,mtr_wage,mtr_int,mtr_amt,...,fed_marg,fed_avg,fed_elas,st_marg,st_avg,st_elas,c_marg,c_avg,c_elas,state_abv
0,1,1977,1,94.37,12.17,0.00,102.84,0.0,0.0,0.00,...,0.7368,0.5577,1.3388,0.0199,0.0237,0.8477,0.7566,0.5813,1.3187,al
1,1,1978,1,103.29,20.41,0.00,111.43,0.0,0.0,0.00,...,0.6899,0.4747,1.4748,0.0205,0.0266,0.7761,0.7104,0.5013,1.4375,al
2,1,1979,1,116.03,29.41,9.04,125.56,1.5,1.5,0.60,...,0.2867,0.1522,1.9196,0.0333,0.0239,1.4122,0.3200,0.1762,1.8504,al
3,1,1980,1,126.30,45.67,19.72,135.41,1.5,1.5,0.60,...,0.3119,0.1690,1.8809,0.0329,0.0246,1.3539,0.3449,0.1936,1.8135,al
4,1,1981,1,136.09,65.36,31.20,145.90,3.0,3.0,1.20,...,0.3146,0.1686,1.9017,0.0333,0.0248,1.3610,0.3478,0.1933,1.8320,al

In [19]:
df.to_csv(r'/Users/langchen777/Desktop/State_tax.csv', index = False)

### Annual Unemployment Rates by State

In [20]:
unemployment = pd.read_excel('emp-unemployment.xls', sheet_name='States')
unemployment.head()

,Average Annual Unemployment Rates by State (see previous tab for Iowa's counties),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,U.S. Bureau of Labor Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Local Area Unemployment Statistics and Current...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,April 2019 release,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,...,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0

In [21]:
unemployment = unemployment[4:57]
unemployment.iloc[0] = unemployment.iloc[0].astype('int').astype('string')
unemployment.columns = unemployment.iloc[0]
unemployment = unemployment[1:]
unemployment.head()
unemployment = unemployment.rename(columns= {'0': 'Fips', '1':'Area'})

In [22]:
unemployment.head()

4,Fips,Area,1980,1981,1982,1983,1984,1985,1986,1987,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
5,00000,United States,7.1,7.6,9.7,9.6,7.5,7.2,7.0,6.2,...,9.3,9.6,8.9,8.1,7.4,6.2,5.3,4.9,4.4,3.9
6,01000,Alabama,8.9,10.6,14.1,13.8,11.0,9.2,9.7,8.1,...,11.0,10.5,9.6,8.0,7.2,6.8,6.1,5.8,4.4,3.9
7,02000,Alaska,9.6,9.4,9.9,9.9,9.8,9.7,10.9,10.3,...,7.7,7.9,7.6,7.1,7.0,6.9,6.5,6.9,7.0,6.6
8,04000,Arizona,6.6,6.2,10.1,8.8,5.2,6.3,6.9,6.5,...,9.9,10.4,9.5,8.3,7.7,6.8,6.1,5.4,4.9,4.8
9,05000,Arkansas,7.6,8.7,9.9,9.9,8.7,8.7,8.6,8.1,...,7.8,8.2,8.3,7.6,7.2,6.0,5.0,4.0,3.7,3.7

In [23]:
unemployment = unemployment.set_index(keys = ["Fips", "Area"])

In [24]:
unemployment = unemployment.stack()

In [25]:
unemployment = unemployment.reset_index()

In [26]:
unemployment.head()

    Fips           Area     4    0
0  00000  United States  1980  7.1
1  00000  United States  1981  7.6
2  00000  United States  1982  9.7
3  00000  United States  1983  9.6
4  00000  United States  1984  7.5

In [27]:
unemployment.columns = ["Fips", "Area", "Year", "rate"]
unemployment['Year'] = unemployment['Year'].astype(int)

In [28]:
unemployment.head()

    Fips           Area  Year rate
0  00000  United States  1980  7.1
1  00000  United States  1981  7.6
2  00000  United States  1982  9.7
3  00000  United States  1983  9.6
4  00000  United States  1984  7.5

In [29]:
US_unemployment = unemployment[unemployment["Area"]=="United States"]
US_unemployment.head()

    Fips           Area  Year rate
0  00000  United States  1980  7.1
1  00000  United States  1981  7.6
2  00000  United States  1982  9.7
3  00000  United States  1983  9.6
4  00000  United States  1984  7.5

In [30]:
abrev = pd.read_csv('states.csv')
abrev['Code']=abrev['Code'].str.lower()
us = {'Abbrev':'U.S.', 'Code': 'us', 'State': 'United States'}
abrev.append(us, ignore_index=True)

                   State  Abbrev Code
0                Alabama    Ala.   al
1                 Alaska  Alaska   ak
2                Arizona   Ariz.   az
3               Arkansas    Ark.   ar
4             California  Calif.   ca
5               Colorado   Colo.   co
6            Connecticut   Conn.   ct
7               Delaware    Del.   de
8   District of Columbia    D.C.   dc
9                Florida    Fla.   fl
10               Georgia     Ga.   ga
11                Hawaii  Hawaii   hi
12                 Idaho   Idaho   id
13              Illinois    Ill.   il
14               Indiana    Ind.   in
15                  Iowa    Iowa   ia
16                Kansas   Kans.   ks
17              Kentucky     Ky.   ky
18             Louisiana     La.   la
19                 Maine   Maine   me
20              Maryland     Md.   md
21         Massachusetts   Mass.   ma
22              Michigan   Mich.   mi
23             Minnesota   Minn.   mn
24           Mississippi   Miss.   ms
25              Missouri     Mo.   mo
26               Montana   Mont.   mt
27              Nebraska   Nebr.   ne
28                Nevada    Nev.   nv
29         New Hampshire    N.H.   nh
30            New Jersey    N.J.   nj
31            New Mexico    N.M.   nm
32              New York    N.Y.   ny
33        North Carolina    N.C.   nc
34          North Dakota    N.D.   nd
35                  Ohio    Ohio   oh
36              Oklahoma   Okla.   ok
37                Oregon    Ore.   or
38          Pennsylvania     Pa.   pa
39          Rhode Island    R.I.   ri
40        South Carolina    S.C.   sc
41          South Dakota    S.D.   sd
42             Tennessee   Tenn.   tn
43                 Texas    Tex.   tx
44                  Utah    Utah   ut
45               Vermont     Vt.   vt
46              Virginia     Va.   va
47            Washington   Wash.   wa
48         West Virginia   W.Va.   wv
49             Wisconsin    Wis.   wi
50               Wyoming    Wyo.   wy
51         United States    U.S.   us

In [31]:
abrev.head()

        State  Abbrev Code
0     Alabama    Ala.   al
1      Alaska  Alaska   ak
2     Arizona   Ariz.   az
3    Arkansas    Ark.   ar
4  California  Calif.   ca

### Merge Example: unemployment & average tax rate

In [32]:
unemployment = pd.merge(unemployment, abrev,  how='left', left_on=['Area'], right_on = ['State'])
unemployment.head()

    Fips           Area  Year rate State Abbrev Code
0  00000  United States  1980  7.1   NaN    NaN  NaN
1  00000  United States  1981  7.6   NaN    NaN  NaN
2  00000  United States  1982  9.7   NaN    NaN  NaN
3  00000  United States  1983  9.6   NaN    NaN  NaN
4  00000  United States  1984  7.5   NaN    NaN  NaN

In [33]:
unemployment = unemployment.merge(abrev)

In [34]:
unemployment.head()

    Fips     Area  Year  rate    State Abbrev Code
0  01000  Alabama  1980   8.9  Alabama   Ala.   al
1  01000  Alabama  1981  10.6  Alabama   Ala.   al
2  01000  Alabama  1982  14.1  Alabama   Ala.   al
3  01000  Alabama  1983  13.8  Alabama   Ala.   al
4  01000  Alabama  1984  11.0  Alabama   Ala.   al

In [35]:
unemployment = unemployment[["Fips", "State", "Abbrev", "Code", "Year", "rate"]]

In [36]:
unemployment['Year']=unemployment['Year'].astype(int)
unemployment.head()

    Fips    State Abbrev Code  Year  rate
0  01000  Alabama   Ala.   al  1980   8.9
1  01000  Alabama   Ala.   al  1981  10.6
2  01000  Alabama   Ala.   al  1982  14.1
3  01000  Alabama   Ala.   al  1983  13.8
4  01000  Alabama   Ala.   al  1984  11.0

In [37]:
df = pd.merge(df, unemployment,  how='left', left_on=['state_abv','year'], right_on = ['Code', 'Year'])

In [38]:
df.head()

,state,year,income,taxsngl,taxjnt,taxfam,tax65,mtr_wage,mtr_int,mtr_amt,...,c_marg,c_avg,c_elas,state_abv,Fips,State,Abbrev,Code,Year,rate
0,1,1977,1,94.37,12.17,0.00,102.84,0.0,0.0,0.00,...,0.7566,0.5813,1.3187,al,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1978,1,103.29,20.41,0.00,111.43,0.0,0.0,0.00,...,0.7104,0.5013,1.4375,al,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1979,1,116.03,29.41,9.04,125.56,1.5,1.5,0.60,...,0.3200,0.1762,1.8504,al,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1980,1,126.30,45.67,19.72,135.41,1.5,1.5,0.60,...,0.3449,0.1936,1.8135,al,01000,Alabama,Ala.,al,1980.0,8.9
4,1,1981,1,136.09,65.36,31.20,145.90,3.0,3.0,1.20,...,0.3478,0.1933,1.8320,al,01000,Alabama,Ala.,al,1981.0,10.6

In [39]:
df.to_csv(r'/Users/langchen777/Desktop/Merge.csv', index = False)

# Visualization

In [229]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Create figure with secondary y-axis
fig = make_subplots(specs=[[{"secondary_y": True}]])

# Add traces
fig.add_trace(
    go.Scatter(
    x=US_unemployment['Year'],
    y=US_unemployment['rate'],
    name = "unemployment rate"),
    secondary_y=False,
)

fig.add_trace(
    go.Scatter(
    x=US_ally['year'],
    y=US_ally['c_avg'],
    name = "tax rate"),
    secondary_y=True,
)

# Add figure title
fig.update_layout(
    title_text="U.S. Unemployment and Average Tax Rate"
)

# Set x-axis title
fig.update_xaxes(title_text="Year")

# Set y-axes titles
fig.update_yaxes(title_text="Unemployent Rate", secondary_y=False)
fig.update_yaxes(title_text="Average Tax Rate", secondary_y=True)

fig.show()

In [231]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Create figure with secondary y-axis
fig = make_subplots(specs=[[{"secondary_y": True}]])

state = 'al'
plotly = df[df['Code']== state]

# Add traces
fig.add_trace(
    go.Scatter(
    x=plotly['year'],
    y=plotly['rate'],
    name = "unemployment rate"),
    secondary_y=False,
)

fig.add_trace(
    go.Scatter(
    x=plotly['year'],
    y=plotly['c_avg'],
    name = "average tax rate"),
    secondary_y=True,
)

# Add figure title
fig.update_layout(
    title_text="U.S. Unemployment and Average Tax Rate"
)

# Set x-axis title
fig.update_xaxes(title_text="Year")

# Set y-axes titles
fig.update_yaxes(title_text="Unemployent Rate", secondary_y=False)
fig.update_yaxes(title_text="Average Tax Rate", secondary_y=True)

fig.show()