In [1]:
import pandas as pd

In [2]:
real_tax = pd.read_csv('real.csv')

In [3]:
real_tax.head()

,state,year,income,taxsngl,taxjnt,taxfam,tax65,mtr_wage,mtr_int,mtr_amt,mtr_lcg,mtr_gift,mtr_fed,mtr_ptx,mtr_pt65,abrev
0,1,1977,1,94.37,12.17,0.00,102.84,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,al
1,1,1978,1,103.29,20.41,0.00,111.43,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,al
2,1,1979,1,116.03,29.41,9.04,125.56,1.5,1.5,0.60,0.0,-1.5,0.0,0.0,0.0,al
3,1,1980,1,126.30,45.67,19.72,135.41,1.5,1.5,0.60,0.0,-1.5,0.0,0.0,0.0,al
4,1,1981,1,136.09,65.36,31.20,145.90,3.0,3.0,1.20,0.0,-3.0,0.0,0.0,0.0,al